@(message: String, am: AccountModel)
@implicitFieldConstructor = {helper.FieldConstructor(twitterBootstrapInput.render)}

@main("Account Demo") {
    <div class="navbar navbar-fixed-top">    
		<div class="navbar-inner">
		   <div class="container-fluid">
			<span class="brand">@message</span>
		   </div>
		</div>
    </div>
    
    <div class="container">	
			<div class="label">@am.name</div>
			<div>Type: <span class="value">@am.typeOfAccount</span></div>
			<div>Industry: <span class="value">@am.industry</span></div>
			<div>Billing Street: <span class="value">@am.billingStreet</span></div>
			<div>Billing City: <span class="value">@am.billingCity</span></div>
			<div>Billing State: <span class="value">@am.billingState</span></div>
			<div>Billing Country: <span class="value">@am.billingCountry</span></div>
	</div>

}